@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
    --bg: url("images/fon.png");
    --font: url("static/fonts/Gotham.ttf");
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    font-family: "Roboto";
}

@font-face {
  font-family: "Roboto";
  src: var(--font);
}

.locked {
    -webkit-user-select: none;
    -moz-user-select: none;
}


.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #aa2fe2 50%, #7e1bac 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}


@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}

.point {
    cursor: help;
    color: #D1D0D0;
}

.container {
    background: #5f2f80;
    border-radius: 12.5803px;
    padding: 0 25px 0 25px;
    width: 504px;
    height: 504px; 
    margin-top: 100px;
}

.decor-line {
    margin-top: 30px;
    border: 0.865776px solid #8A2AB8;
    width: 434px;
    height: 0px;
}

.decor-line2 {
    border: 0.865776px solid #8A2AB8;
    width: 434px;
    height: 0px;
}

.decor-line3 {
    border: 1px solid #D1D0D0;
    height: 60px;
    margin: auto 0;
    margin-left: 10px;
    margin-right: 10px;
}

.bio {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18.5178px;
    line-height: 22px;

    color: #D1D0D0;
}

.bage {
    width: 49px;
    height: 44px;
    margin-top: 5px;
}


.prof {
    display: flex;
    justify-content: start;
    
}

.avatar {
    width: 110px;
    height: 109.23px;
    margin-top: -45px;
    border: 7.74193px solid #5f2f80;
    box-sizing: border-box;
    border-radius: 11.6129px;
}

.name {
    width: 158px;
    height: 39px;
    margin-top: 0;
    margin-left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 42px;
    color: #FEFCFF;
}

.desc {
    color: #BEBEBE;
    height: 20px;
    width: 105px;
    margin-left: 120px;
    margin-top: -25px;
}

.tag {
    width: 114px;
    height: 42px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 42px;
    color: #BABBBF;
}

.round {
    display: flex;
    padding: 5px 10px;
    width: 354px;
    height: 108px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #9C75BA;
    border: 8.72984px solid #9A67C2;
    box-sizing: border-box;
    border-radius: 26.1895px;
}

.discord {
    transition: 0.5s;
    width: 51px;
    height: 51px;
}

.steam {
    transition: 0.5s;
    width: 51px;
    height: 51px;
}

.github {
    transition: 0.5s;
    width: 51px;
    height: 51px;
}

.deathly {
    transition: 0.5s;
    width: 51px;
    height: 51px;
}

.name {
    display: block;
}

ul {
    margin: 0 auto;
    justify-items: center;
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
    max-width: 350px;
    margin-top: 100px;
}

li:first {
    margin-left: 0px;
    list-style: none;
}

li {
    margin-left: 30px;
    list-style: none;
}

.line:hover .tag{
    color: #EF8BFF;
}

.discord:hover {
    transform: scale(1.2);
    opacity: 0.7;
}

.steam:hover {
    transform: scale(1.2);
    opacity: 0.7;
}

.github:hover {
    transform: scale(1.2);
    opacity: 0.7;
}

.deathly:hover {
    transform: scale(1.2);
    opacity: 0.7;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #9C75BA;
    margin: auto;
    margin-top: 150px;
    padding: 0;
    width: 35%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    color: #D1D0D0;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
  from {
      top: -300px;
      opacity: 0;
    }
  to {
      top: 0;
      opacity: 1;
    }
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #aaa9a9;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5f2f80;
    color: white;
    height: 35px;
    border-radius: 5px 5px 0 0;
}

.modal-title {
	margin-top: 8px;
    font-size: 17px;
}

.modal-body {
	padding: 2px 16px;
}

.rep {
    width: 45px;
    height: 45px;
    bottom: 15px;
    right: 15px;
    position: fixed;
    cursor: pointer;
}

.rotate g {
    transition: transform .3s;
    transform-origin: center center;
}

.rotate:hover g {
    transform: rotate(-90deg);
}
