body {
    background: url("images/fon.png") repeat;
    position: relative;
}

@font-face {
  font-family: "Roboto";
  src: url('/static/fonts/Roboto.ttf');
}

.container {
    position: absolute;
    width: 504px;
    height: 504px;
    left: 636px;
    top: 208px;

    background: #441D5E;
    border-radius: 12.5803px
}

.desc {
    position: absolute;
    width: 158px;
    height: 39px;
    left: 160px;
    top: 33px;

    color: #BEBEBE;
}

.decor-line {
    position: absolute;
    width: 434px;
    height: 0px;
    left: 36px;
    top: 80px;

    border: 0.865776px solid #8A2AB8;
}

.decor-line2 {
    position: absolute;
    width: 434px;
    height: 0px;
    left: 36px;
    top: 220px;

    border: 0.865776px solid #8A2AB8;
}

.decor-line3 {
    position: absolute;
    width: 76.01px;
    height: 0px;
    left: 38px;
    top: 35px;

    border: 1px solid #D1D0D0;
    transform: rotate(90.75deg);
}

.bio {
    position: absolute;
    width: 209px;
    height: 65.78px;
    left: 90px;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18.5178px;
    line-height: 22px;

    color: #D1D0D0;
}

.bage {
    position: absolute;
    width: 49px;
    height: 44px;
    left: 14px;
    top: 13px;
}

.avatar {
    position: absolute;
    width: 110px;
    height: 109.23px;
    left: 41px;
    bottom: 445px;

    background: url(/static/images/ava.png);
    border: 7.74193px solid #441D5E;
    box-sizing: border-box;
    border-radius: 11.6129px;
}

.name {
    position: absolute;
    width: 158px;
    height: 39px;
    left: 160px;
    top: -18px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 42px;
    color: #FEFCFF;
}

.tag {
    position: absolute;
    width: 114px;
    height: 42px;
    left: 99px;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 42px;
    color: #BABBBF;
}

.round {
    position: absolute;
    width: 354px;
    height: 108px;
    left: 75px;
    top: calc(50% - 108px/2 - 95px);

    background: #9C75BA;
    border: 8.72984px solid #9A67C2;
    box-sizing: border-box;
    border-radius: 26.1895px;
}

.discord {
    position: absolute;
    width: 51px;
    height: 51px;
    left: 220px;
    top: 318px;
    transition: 0.5s;
}

.steam {
    position: absolute;
    width: 51px;
    height: 51px;
    left: 120px;
    top: 318px;
    transition: 0.5s;
}

.github {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 320px;
    top: 318px;
    transition: 0.5s;
}


@media (min-width: 1440px) {
    .container {
        position: absolute;
        width: 504px;
        height: 504px;
        left: 586px;
        top: 18px;

        background: #441D5E;
        border-radius: 12.5803px
    }

    .desc {
        position: absolute;
        width: 158px;
        height: 39px;
        left: 160px;
        top: 33px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        color: #BEBEBE;
    }

    .decor-line {
        position: absolute;
        width: 434px;
        height: 0px;
        left: 36px;
        top: 80px;

        border: 0.865776px solid #8A2AB8;
    }

    .decor-line2 {
        position: absolute;
        width: 434px;
        height: 0px;
        left: 36px;
        top: 220px;

        border: 0.865776px solid #8A2AB8;
    }

    .decor-line3 {
        position: absolute;
        width: 76.01px;
        height: 0px;
        left: 38px;
        top: 35px;

        border: 1px solid #D1D0D0;
        transform: rotate(90.75deg);
    }

    .bio {
        position: absolute;
        width: 209px;
        height: 65.78px;
        left: 90px;
        top: 0px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18.5178px;
        line-height: 22px;

        color: #D1D0D0;
    }

    .bage {
        position: absolute;
        width: 49px;
        height: 44px;
        left: 14px;
        top: 13px;
    }

    .avatar {
        position: absolute;
        width: 110px;
        height: 109.23px;
        left: 41px;
        bottom: 445px;

        background: url(/static/images/ava.png);
        border: 7.74193px solid #441D5E;
        box-sizing: border-box;
        border-radius: 11.6129px;
    }

    .name {
        position: absolute;
        width: 158px;
        height: 39px;
        left: 160px;
        top: -18px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 42px;
        color: #FEFCFF;
    }

    .tag {
        position: absolute;
        width: 114px;
        height: 42px;
        left: 99px;
        top: 0px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 42px;
        color: #BABBBF;
    }

    .round {
        position: absolute;
        width: 354px;
        height: 108px;
        left: 75px;
        top: calc(50% - 108px/2 - 95px);

        background: #9C75BA;
        border: 8.72984px solid #9A67C2;
        box-sizing: border-box;
        border-radius: 26.1895px;
    }

    .discord {
        position: absolute;
        width: 51px;
        height: 51px;
        left: 220px;
        top: 318px;
        transition: 0.5s;
    }

    .steam {
        position: absolute;
        width: 51px;
        height: 51px;
        left: 120px;
        top: 318px;
        transition: 0.5s;
    }

    .github {
        position: absolute;
        width: 48px;
        height: 48px;
        left: 320px;
        top: 318px;
        transition: 0.5s;
    }

}

@media (min-width: 320px) {
    .container {
        position: absolute;
        width: 504px;
        height: 504px;
        top: 600px;
        left: 240px;

        background: #441D5E;
        border-radius: 12.5803px
    }
}

@media (min-width: 375px) {
    .container {
        position: absolute;
        width: 504px;
        height: 504px;
        top: 438px;
        left: 240px;

        background: #441D5E;
        border-radius: 12.5803px
    }
}

@media (min-width: 425px) {
    .container {
        position: absolute;
        width: 504px;
        height: 504px;
        top: 438px;
        left: -8px;

        background: #441D5E;
        border-radius: 12.5803px
    }
}

@media (min-width: 768px) {
    .container {
        position: absolute;
        width: 504px;
        height: 504px;
        top: 140px;
        left: 240px;

        background: #441D5E;
        border-radius: 12.5803px
    }
}

@media (min-width: 1024px) {
    .container {
        position: absolute;
        width: 504px;
        height: 504px;
        left: 250px;
        top: 178px;

        background: #441D5E;
        border-radius: 12.5803px
    }
}

.line:hover .tag{
    color: #EF8BFF;
}

.discord:hover {
    transform: scale(1.2);
    opacity: 0.7;
}

.steam:hover {
    transform: scale(1.2);
    opacity: 0.7;
}

.github:hover {
    transform: scale(1.2);
    opacity: 0.7;
}
